.App, body{
  height:100%;
  width:100%;
  min-height: 100vh;
  margin: 0;
  text-align: center;
  align-items: center;
  justify-content: center;
}

body{
  display: flex;
  
}

form{
    margin: 0, auto;
}

label{
  margin: .5em;
}

